<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{commons/commons::headlink}"></head>
  <body>
    <div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
          <div class="form-inner">
            <div class="logo text-uppercase"><span>后台管理系统</span></div>
            <p>越努力   越幸运.</p>
            <form method="post" class="text-left form-validate" th:action="@{/user/login}">
              <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" ></p>
              <div class="form-group-material">
                <input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
                <label for="login-username" class="label-material">Username</label>
              </div>
              <div class="form-group-material">
                <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                <label for="login-password" class="label-material">Password</label>
              </div>
              <div class="form-group text-center"><button id="login" type="submit" class="btn btn-primary">Login</button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </div>
            </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
          </div>
          <div class="copyrights text-center">
            
            
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper.js/umd/popper.min.js}"> </script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/grasp_mobile_progress_circle-1.0.0.min.js}"></script>
    <script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}"> </script>
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- Main File-->
    <script th:src="@{/js/front.js}"></script>
  </body>
</html>